<?php declare(strict_types = 1);

namespace AdventOfCode\Season{{season}}\Day{{dayNumber}};

use AdventOfCode\LinesInput;
use AdventOfCode\PuzzleSolution;
use AdventOfCode\Result;

final class PuzzleSolution{{part}}Part implements PuzzleSolution
{
    public function getResult(): Result
    {
		$input = new LinesInput(__DIR__ . '/testInput.txt');
    }
}
